# NOTE: to ignore the module.json configuration file, 
# navigate to bifacial_radiance/data and run the following:
#   `git update-index --skip-worktree module.json`
# to undo: `git update-index --no-skip-worktree module.json` 

# bifacial_radiance tests
FieldData/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.pyc

# C extensions
*.so

# IPython Notebook
.ipynb_checkpoints

# pyenv
.python-version
InputFiles/
TEMP/
SAM/Results/